.main {
  position: relative;
  height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  background: linear-gradient(
    135deg,
    #0c2c57,
    #150837,
    #0a1434,
    #0b0422,
    #0b0422
  );
}
