@charset "UTF-8";

/* ==========RESET + BASE===========*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--background);
  color: var(--color-text);
  font-family: var(--font-inter);
}

/* ==========VARIÁVEIS===========*/

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-slate-blue: #3275CD;
  --color-midnight-Blue: #0D3161;
  --color-sky-blue: #B5E3EF;
  --color-dodger-blue: #006EEF;
  --color-text: #f2f3f5;
  --font-inter: var(--font-inter), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
  --font-fira-code: var(--font-fira-code), monospace;
}

/* ==========OTHERS===========*/

