@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruda:wght@400..900&display=swap');
/* ==========VARIÁVEIS===========*/


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-slate-blue: #3275CD;
  --color-midnight-Blue: #0D3161;
  --color-sky-blue: #B5E3EF;
  --color-dodger-blue: #006EEF;
  --color-text: #f2f3f5;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-fira-code: "Fira Code", monospace;
  --font-ruda: "Ruda", sans-serif;
}

/* ==========RESET + BASE===========*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--background);
  color: var(--color-text);
  font-family: var(--font-inter);
}


/* ==========OTHERS===========*/

