/* navbar.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-slate-blue: #3275CD;
  --color-midnight-Blue: #0D3161;
  --color-sky-blue: #B5E3EF;
  --color-dodger-blue: #006EEF;
  --color-text: #f2f3f5;
  --font-inter: var(--font-inter), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
  --font-fira-code: var(--font-fira-code), monospace;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

/* navbar.css */

.navbar {
  background-color: var(--color-midnight-Blue);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}