/* CONTEÚDO */
.content {


  grid-row: 3;
  justify-self: center;
  align-self: end; 
}

/* TÍTULO */
.content h1 {
  font-size: 1.8rem;
  font-family: var(--font-inter);
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.content h1 span {
  font-family: var(--font-ruda);
  font-weight: 500;
  letter-spacing: 0.08em;
}

/* TEXTO */
.content p {
  font-size: 0.85rem;
  line-height: 1.4;
}
